.card{
    width: 10%;
    display: inline-block;
    margin: 50px; 
   
    box-shadow: 0px 0px 10px 10px gray;
}
.card img{
    width: 100%;
    
}
.card1{
     padding: 10px;
}
.card2{
    padding: 10px;
}